<%= form_with(model: answer, local: true) do |form| %>
  

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :desc %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
